@charset "UTF-8";

/*@import url('https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100..900;1,100..900&display=swap');*/

@font-face {
    font-family: 'crikaluna';
    src: url('../fontes/Thesignature.otf') format('opentype');
    font-weight: normal;
}

@font-face {
    font-family: 'dreamorphans';
    src: url('../fontes/Dream\ Orphans.otf') format('opentype');
    font-weight: normal;
}

* {
    padding: 0px;
    margin: 0px;
}

:root {
    --fontetitulo: 'crikaluna', sans-serif;
    /*--fontedestaque: "Saira", sans-serif;*/
    --fontedestaque: 'dreamorphans', sans-serif;

    --rosapink: rgb(236, 167, 158);
}


body {
    background-color: var(--rosapink)
}


main {
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.555);
   
}
.container {
    margin: 0 auto;
    max-width: 1024px;
    width: 90%;
}

header {
    background-color: black;
    height: 113px;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.705);

}

header > h1 {
    color: var(--rosapink);
    text-align: center;
    padding-top: 30px;
    font-family: var(--fontetitulo);
    font-weight: lighter;
    font-size: 60px;
}

header > p {
    color: white;
    font-family: var(--fontedestaque);
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 0.1em;
    text-align: center;
    
}



div#bembeleza {
    display: flex;
    justify-content: center;
    font-family: var(--fontetitulo);
    font-size: 25px;
    padding-top: 100px;
    padding-bottom: 100px;
    
}



div#imagem1 {
    display: flex;
    justify-content: center;
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;
    margin: auto;
    width: 80%;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: var(--rosapink);
}
img#unharosa {
    height: 240px;
    width: 190px;
    box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.486);
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;
   
}

div#manicuretxt{
    color: white;
    margin: auto;
    width: 80%;
    background-color: var(--rosapink);
    display: flex;
    justify-content: center;
    padding-top: 5px;
    padding-bottom: 200px;
    font-family: var(--fontedestaque);
    font-weight:550;
    font-size: 30px;
}



section#parallax {
    background-image: url(../imagens/parallax.jpeg);
    background-size: cover;
    background-position: bottom center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    box-shadow: inset 2px 3px 4px rgba(0, 0, 0, 0.486);
    width: 100%;
    height: 290px;
    margin-top: px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
section > p#spatxt {
    font-family: var(--fontedestaque);
    font-weight: 600;
    font-size: 35px;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.801);
    
}


div#umcharme{
    padding-top: 50px;
    padding-bottom: 50px;
    
}
div > p#umcharmetxt {
    font-family: var(--fontetitulo);
    font-size: 30px;
    font-weight: 400;
    text-align: center;
    margin: auto;
}


div#imagem2 {
    padding-top: 100px;
    padding-bottom: 230px;
    margin-bottom: 100px;
    
    
}
img#unhadecorada {
    height: 240px;
    width: 190px;
    box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.486);
    border-top-right-radius: 100%;
    border-top-left-radius: 100%;
    margin: auto;
}
p#unhadecoradatxt {
    font-family: var(--fontedestaque);
    font-size: 25px;
    width: 200px;
    text-align: center;
}  

div#imagem3 {
    margin: auto;
    background-color: rgba(233, 186, 180, 0.384);
    width: 90vw;
    height: 40vh;
    border-top-left-radius: 100%;
}

div > img#pedicure {
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    width: 30vw;
    height: 50%;
    position: relative;
    left: 10%;
}
p#pedicure {
    color: white;
    background-color: black;
    font-family: var(--fontedestaque);
    font-size: 25px;
    text-align: center;
    width: 30vw;
    padding-top: 5px;
    padding-bottom: 5px;
    position: relative;
    left: 60px;
    transform: translate(0px, -15px)
}





/* animaçao scrollreveal*/
#bembeleza, #spatxt {
    visibility: hidden;
}


@media (max-width: 767px) {
    .container {
        width: 90%;
        max-width: 767px
    }
}